# build output
dist/

# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/

# playwright reports
playwright-report/
playwright-test/

# vitest reports
coverage/

# eslint reports
eslint-report/

# test fixtures
test-fixtures/

# test results
test-results/